<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de clientes</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Reponsible</th>
                            <th>E-mail</th>
                            <th>Phone</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in clients">
                            <td>{{ o.name }}</td>
                            <td>{{ o.responsible }}</td>
                            <td>{{ o.email }}</td>
                            <td>{{ o.phone }}</td>
                            <td><a href="#/clients/{{o.id}}/edit" class="btn btn-success btn-xs">Edit</a></td>
                            <td><a href="#/clients/{{o.id}}/remove" class="btn btn-danger btn-xs">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
